.gradient-background {
    background: linear-gradient(100deg, #633B3B, #58181F, #624a2e, #F5F5DC);
    
    background-size: 180% 180%;
    
    animation: gradient-animation 18s ease infinite;
    margin-bottom:20px;
    display:grid;
    grid-template-columns:
}
.navbar {
    padding: 0px;
    background-color: #ededed !important;
    border-radius: 20px;
    width: 40%;
    margin-bottom:5px;
    font-family:Champagne;
    font-size:16px;
    font-weight:800;
    letter-spacing:3px;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
@font-face {
    font-family: Champagne;
    src: url("ChampagneLimousines.ttf") format('truetype');
}
@font-face {
    font-family: ChampagneBold;
    src: url("ChampagneLimousines.ttf") format('truetype');
}
@font-face {
    font-family: ChampagneItalic;
    src: url('ChampagneLimousinesItalic.ttf') format('truetype');
}

@font-face {
    font-family: ChampagneItalicBold;
    src: url('ChampagneLimousinesBoldItalic.ttf') format('truetype');
}


#Champagne {
    font-family: 'Champagne',
}

#ChampagneBold{
    font-family: 'ChampagneBold',
}
#ChampagneItalic{
    font-family: 'ChampagneItalic',
}
#ChampagneItalicBold {
    font-family: 'ChampagneItalicBold',
}
.row{
    text-align:center;
}
#title-center{
    text-align:center;
    letter-spacing:10px;
}
h1 {
    font-family: ChampagneBold;
    font-size: xxx-large;
    color: #a8a9ad;
}
h3 {
    margin-top: 25px;
    font-family: ChampagneBold;
    font-weight:600;
    letter-spacing:4px;
}
strong {
    font-family: ChampagneBold;
    font-weight:600;
    font-size:18px;
    letter-spacing:3px;
}
p {
    font-family: ChampagneBold;
    font-weight: 600;
    font-size: 16px;
    letter-spacing:3px;
}
#totalCount {
    font-size: x-large;
    color: #a8a9ad;
}
body {
    background-color: white;
}
.top_Items{
    display:grid;
    margin-left:20px;
}
.feature.col>p{
    text-align:left;
}
.row > .feature.col {
    background-color: #ededed;
    border-radius: 20px;
    margin-bottom: 35px;
    margin-right: 20px;

}
img {
    object-fit: cover;
    margin-top: 25px;
}
#selected {
    background-color: #6c757d50;
}
#genres{
}

@media(max-width:750px){
    img {
        float: left;
        object-fit: cover;
        margin-top: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
    .row{
        margin-left:10px
    }
    h3{
        text-align:left;
    }
    strong{
        text-align:left;
    }
}
/*@media (min-width: 1015px) {
    .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }
}*/