.gradient-background {
    background: linear-gradient(100deg, #633B3B, #58181F, #624a2e, #F5F5DC);
    
    background-size: 180% 180%;
    
    animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
@font-face {
    font-family: Champagne;
    src: url("ChampagneLimousines.ttf") format('truetype');
}
@font-face {
    font-family: ChampagneBold;
    src: url("ChampagneLimousines.ttf") format('truetype');
}
@font-face {
    font-family: ChampagneItalic;
    src: url('ChampagneLimousinesItalic.ttf') format('truetype');
}

@font-face {
    font-family: ChampagneItalicBold;
    src: url('ChampagneLimousinesBoldItalic.ttf') format('truetype');
}


#Champagne {
    font-family: 'Champagne',
}

#ChampagneBold{
    font-family: 'ChampagneBold',
}
#ChampagneItalic{
    font-family: 'ChampagneItalic',
}
#ChampagneItalicBold {
    font-family: 'ChampagneItalicBold',
}
.row{
    text-align:center;
}
#title-left {
    text-align: left;
    color: #a8a9ad;
}
#title-center{
    text-align:center;
}
h1 {
    font-family: ChampagneBold;
    font-size: xxx-large;
    color: #a8a9ad;
}
h3{
    margin-top:25px;
}
p {
    font-family: ChampagneLimousinesItalic;
    text-align:left;

}
#totalCount {
    font-size: x-large;
    color: #a8a9ad;
}
body {
    background-color: #e7ccba90;
}
.row>.feature.col{
    background-color: #deb88760;
    border-radius: 20px;
    margin-bottom: 35px;
    margin-right:20px;
}
img {
    object-fit: cover;
    margin-top: 25px;
    margin-right:25px;
}

@media(max-width:750px){
    img {
        object-fit: cover;
        margin-top: 25px;
        margin-right:25px;
        float: left;
    }
}